/*  
Author: Jason Wheat
File Name: style.css
Date: 02/09/2023
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1, h3, article, section, aside, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}


/*responsive images and links*/

img {
  max-width: 100%;
  display: block;
  text-align: center;
}

a {
	text-decoration: none;
}
/* Media Query for Tablet Viewport */
@media screen and (max-width: 619px), print {
	
/*Style rules for mobile viewport*/
/* Style rule show mobile class and hide tab-desk class */
.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

/* Style rules for header area */
.mobile h1, .mobile h3 {
    padding: 2%;
    text-align: center;
}
}
/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
 
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }
    
    nav li a {
        padding: 0.5em;
    }
	nav li a:hover {
        color: #000000;
        background-color: #6bdaff;
	border-radius: 20px;
    }
   }

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    
    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    
    nav li a {
        padding: 0.5em 1.5em;
    }
    
    nav li a:hover {
        color: #000000;
        background-color: #6bdaff;
	border-radius: 20px;
    }
    
  }



/*Style rules for header content*/

header {
	width: 100%;
	background-color: blue;
	color: #ffffff;
	font-family: Luminari, fantasy;
	text-align: center;
	}

header img {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

/*Style rules for navigation area*/

nav {
	background-color: #000066;
	font-family: URW Chancery L, cursive;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}

nav li a {
  color: #fffff0;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

/*Style rules for main content*/

main {
  background-color: #fffff0;
  color: #000000;
  padding: 2%;
  font-family: Trebuchet MS, Arial, sans-serif;
}

/* Style rule for box shadow */
iframe {
	box-shadow: 2px 6px 4px blue;
}

/* style rules for grid class and sections*/

section {
    color: #fff;
    padding: 3%;
    background-color: #blue;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
}

.grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
    }


/*Style rules for class and id selectors*/

.emphasis{
  font-weight: bold;
  font-style: italic;
}

.center{
	display: block;
	text-align: center;
}

#contact{
  text-align: center;
  font-weight: bold;
  font-size: 1.35em;
  text-decoration: none;
}

#places{
  font-family: Lucida Handwriting, cursive;
  font-size: 1.25em;
  list-style-type: none;
}

/*Styles for grid and sections*/

.grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
    }

section {
    color: #fff;
    padding: 3%;
    background-color: blue;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
}



/*Style rules for footer content*/

footer{
  text-align: center;
  font-size: 0.85em;
  background-color: #0000ff;
  background-color: blue; /*fallback color*/
  font-family: Didot, Serif;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a{
  color: #fffff0;
  text-decoration: none;
}
