/*  
Author: Jason Wheat
File Name: style.css
Date: 02/09/2023
*/

/*CSS Reset*/
body {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin: 0;
  padding: 0;
  border: 0;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

/*responsive images and links*/

img {
  max-width: 100%;
  display: block;
}

a {
	text-decoration: none;
}

/*Style rules for header content*/

header {
	width: 100%;
	background-color: Blue; /*fallback color*/  
	background-color: #0000ff;
	color: #ffffff;
	font-family: Luminari, fantasy;
	text-align: center;
	}

header img {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
}

/*Style rules for navigation area*/

nav {
	background-color: #000066;
	font-family: URW Chancery L, cursive;
}

nav ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}

nav li a {
  color: #fffff0;
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

/*Style rules for main content*/

main {
  background-color: #fffff0;
  color: #000000;
  padding: 2%;
  font-family: Trebuchet MS, Arial, sans-serif;
	
  
}

/*Style rules for class and id selectors*/

.emphasis{
  font-weight: bold;
  font-style: italic;
}

.center{
	display: block;
	text-align: center;
}

#contact{
  text-align: center;
  font-weight: bold;
  font-size: 1.35em;
  text-decoration: none;
}

#places{
  font-family: Lucida Handwriting, cursive;
  font-size: 1.25em;
  list-style-type: none;
}

/*Style rules for footer content*/

footer{
  text-align: center;
  font-size: 0.85em;
  background-color: #0000ff;
  background-color: blue; /*fallback color*/
  font-family: Didot, Serif;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

footer a{
  color: #fffff0;
  text-decoration: none;
}
